@model IEnumerable<Group6_iCLOTHINGApp.Models.Emails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emailDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrators.adminName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.customerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.emailDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Administrators.adminName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.customerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emailNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.emailNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emailNo })
        </td>
    </tr>
}

</table>
