@model IEnumerable<Group6_iCLOTHINGApp.Models.OrderStatuses>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cartID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoppingCarts.cartID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cartID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoppingCarts.cartID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.statusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.statusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.statusID })
        </td>
    </tr>
}

</table>
