@model Group6_iCLOTHINGApp.Models.Products

@{
    ViewBag.Title = "Product Info";
}

<h2>Product Info</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brands.brandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brands.brandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.categoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add to Cart", "AddToCart", "CartProducts", new {id = Model.productID}, new {}) |
    @Html.ActionLink("Back to List", "Index")
</p>