@model Group6_iCLOTHINGApp.Models.Customers

@{
    ViewBag.Title = "Create";
    Group6_iCLOTHINGApp.Controllers.UserPasswordsController passwordsController = new Group6_iCLOTHINGApp.Controllers.UserPasswordsController();

}

<h2>Create Account</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter Login Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Enter desired username:
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Enter your shipping address:
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerShippingAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerShippingAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Enter your billing address:
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerBillingAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerBillingAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Enter DOB (YYYY-MM-DD):
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerDOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerDOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Enter Gender:
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerGender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerGender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Enter your email address:
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
